
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Lexend', Arial, Helvetica, sans-serif;
}

/* Hide scrollbar but keep the functionality */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

/* Design scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;  /* width of the entire scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;  /* color of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;  /* color of the scrollbar handle */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;  /* color of the scrollbar handle on hover */
}

